.button {
  &_login {
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid #ef000e;
    background: #fff;
    font-size: 12px;
  }
}

.input {
  font-size: 12px;
  outline: none;
  &_filter {
    padding: 8px 12px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
  }
}
