#app {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #494949;
}

.card {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 1px solid #f4f5f7;
  background: #fff;
}

.flex {
  display: flex;
  &_column {
    display: flex;
    flex-direction: column;
  }
  &_a_center {
    align-items: center;
  }
  &_j {
    justify-content: space-between;
  }
  &_j_center {
    justify-content: center;
  }
}
